body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

  .legend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-block: 1.5em;
    font-size: 0.9em;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
  }
  
  .legend-item .swatch {
    width: 1em;
    height: 1em;
    background: var(--color);
    border-radius: 50%;
    border: 1px solid #ccc;
  }

  .page-header {
    display: flex;
    justify-content: space-between;  /* 左右贴边 */
    align-items: center;
    max-width: 80em;               /* 和地图宽度一致 */
    margin: 0 auto;                  /* 水平居中这个区域 */
    padding: 1rem;
  }
  
  .page-header h1 {
    margin: 0;
  }
  
  .slider-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  #any-time {
    color: gray;
    font-style: italic;
  }