body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

  .legend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-block: 1.5em;
    font-size: 0.9em;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
  }
  
  .legend-item .swatch {
    width: 1em;
    height: 1em;
    background: var(--color);
    border-radius: 50%;
    border: 1px solid #ccc;
  }

  .top-bar {
    max-width: 1000px; /* 和地图一致 */
    margin: 1rem auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .slider-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  #selected-time {
    font-weight: bold;
  }
  
  #any-time {
    font-style: italic;
    color: gray;
  }